<form (ngSubmit)="cadastrarPaciente()" class="form-user p-4 shadow rounded container mt-4">
  <div class="mb-3">
    <label for="nome_completo" class="form-label">Nome Completo: *</label>
    <input id="nome_completo" [(ngModel)]="paciente.nome_completo" name="nome_completo" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="cpf" class="form-label">CPF (somente números): *</label>
    <input id="cpf" [(ngModel)]="paciente.cpf" name="cpf" class="form-control" required mask="000.000.000-00">
  </div>

  <div class="mb-3">
    <label for="operadora" class="form-label">Operadora: *</label>
    <input id="operadora" [(ngModel)]="paciente.operadora" name="operadora" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="identificador_prestadora" class="form-label">Identificador Prestadora: *</label>
    <input id="identificador_prestadora" [(ngModel)]="paciente.identificador_prestadora" name="identificador_prestadora" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="acomodacao" class="form-label">Acomodação: *</label>
    <input id="acomodacao" [(ngModel)]="paciente.acomodacao" name="acomodacao" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="telefone" class="form-label">Telefone: *</label>
    <input id="telefone" [(ngModel)]="paciente.telefone" name="telefone" class="form-control" required mask="(00) 00000-0000">
  </div>

  <div class="mb-3">
    <label for="alergias" class="form-label">Alergias:</label>
    <input id="alergias" [(ngModel)]="paciente.alergias" name="alergias" class="form-control">
  </div>

  <div class="mb-3">
    <label for="cid_primario" class="form-label">CID Primário: *</label>
    <input id="cid_primario" [(ngModel)]="paciente.cid_primario" name="cid_primario" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="cid_secundario" class="form-label">CID Secundário:</label>
    <input id="cid_secundario" [(ngModel)]="paciente.cid_secundario" name="cid_secundario" class="form-control">
  </div>

  <div class="mb-3">
    <label for="data_nascimento" class="form-label">Data de Nascimento: *</label>
    <input id="data_nascimento" [(ngModel)]="paciente.data_nascimento" name="data_nascimento" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="cep" class="form-label">CEP (somente números): *</label>
    <input id="cep" [(ngModel)]="paciente.cep" name="cep" class="form-control" required mask="00000-000" (blur)="buscarEndereco()">
  </div>

  <div class="mb-3">
    <label for="rua" class="form-label">Rua:</label>
    <input id="rua" [(ngModel)]="paciente.rua" name="rua" class="form-control">
  </div>

  <div class="mb-3">
    <label for="numero" class="form-label">Número:</label>
    <input id="numero" [(ngModel)]="paciente.numero" name="numero" class="form-control">
  </div>

  <div class="mb-3">
    <label for="complemento" class="form-label">Complemento:</label>
    <input id="complemento" [(ngModel)]="paciente.complemento" name="complemento" class="form-control">
  </div>

  <div class="mb-3">
    <label for="bairro" class="form-label">Bairro: *</label>
    <input id="bairro" [(ngModel)]="paciente.bairro" name="bairro" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="cidade" class="form-label">Cidade: *</label>
    <input id="cidade" [(ngModel)]="paciente.cidade" name="cidade" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="estado" class="form-label">Estado: *</label>
    <input id="estado" [(ngModel)]="paciente.estado" name="estado" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="status" class="form-label">Status: *</label>
    <select id="status" [(ngModel)]="paciente.status" name="status" class="form-select" required>
      <option value="em-avaliacao">Em Avaliação</option>
      <option value="ativo">Ativo</option>
      <option value="alta-administrativa">Alta Administrativa</option>
      <option value="alta-obito">Alta Óbito</option>
      <option value="alta-melhora">Alta Melhora</option>
      <option value="alta-hospitalar">Alta Hospitalar</option>
      <option value="encerrado">Encerrado</option>
    </select>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <button type="reset" class="btn btn-secondary">Cancelar</button>
  </div>
</form>
<button class="btn btn-secondary mt-4" (click)="navegarPara('pacientes')">Voltar</button>