.navbar {
  background-color: #757575; // Cinza mais claro
  color: white; // Texto branco
  padding: 0 1rem; // Espaçamento interno
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra sutil
  border-radius: 0; // Remove bordas arredondadas
  margin-bottom: 0; // Remove margem inferior
  display: flex;
  justify-content: center; // Centraliza os botões
}

.nav-buttons {
  display: flex;
  gap: 1rem; // Espaçamento entre os botões
}

button.mat-button {
  color: white; // Cor do texto dos botões
  font-weight: 500; // Peso da fonte
}

button.mat-button:hover {
  background-color: rgba(87, 59, 59, 0.1); // Efeito hover sutil
}