<div class="modal-content p-4">
  <h2 class="text-center mb-4">Buscar Paciente</h2>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="campoBusca">Campo de Busca</label>
        <select class="form-control" id="campoBusca" [(ngModel)]="campoBusca" name="campoBusca" (change)="onCampoBuscaChange()">
          <option value="id">ID</option>
          <option value="nome_completo">Nome Completo</option>
          <option value="cpf">CPF</option>
        </select>
      </div>
      <div class="form-group">
        <label for="valorBusca">{{ labelValorBusca }}</label>
        <input type="text" class="form-control" id="valorBusca" placeholder="Digite o valor da busca" [(ngModel)]="valorBusca" name="valorBusca">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onClose()">Fechar</button>
    <button type="button" class="btn btn-primary ml-2" (click)="buscarPaciente()">Buscar</button>
  </div>
</div>