@use "@angular/material/prebuilt-themes/indigo-pink.css" as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f9fa;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  height: calc(100% - 60px); // Ajustar a altura para ocupar todo o espaço disponível
  background-color: #343a40;
  z-index: 1000;
  overflow-y: hidden; // Remover a barra de rolagem
  padding: 20px;
}

.main-content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
  height: calc(100% - 60px); // Ajustar a altura para ocupar todo o espaço disponível
  overflow-y: auto;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f9fa;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }

  .main-content {
    margin-left: 0;
    margin-top: 60px;
  }
}