<nav class="sidebar bg-white">
  <!-- Header do sidebar -->
  <div class="sidebar-header d-flex align-items-center justify-content-between">
    <a [routerLink]="['/']" class="text-decoration-none d-flex align-items-center">
      <h5 class="text-primary m-0">Cuidar<span class="text-success">+</span></h5>
    </a>
    <button class="btn btn-sm p-1 d-lg-none" type="button" (click)="onToggleSidebar()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  
  <!-- Links de navegação -->
  <div class="sidebar-content">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of menuItems">
        <a class="nav-link d-flex align-items-center justify-content-between" 
           [routerLink]="item.subItems && item.subItems.length > 0 ? null : item.route" 
           (click)="toggleMenuItem(item)"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: item.route === '/home'}"
           [class.active]="item.active" 
           [attr.aria-expanded]="item.active">
          <div>
            <i class="bi {{ item.icon }}"></i>
            <span>{{ item.title }}</span>
          </div>
          <div>
            <span class="badge bg-warning text-dark" *ngIf="item.inConstruction">Beta</span>
            <i class="bi bi-chevron-down ms-2 small" *ngIf="item.subItems && item.subItems.length > 0" 
              [class.bi-chevron-up]="item.active"></i>
          </div>
        </a>
        
        <!-- Exibir subitens se disponíveis e o item estiver ativo -->
        <ul class="nav flex-column submenu" *ngIf="item.subItems && item.active">
          <li class="nav-item" *ngFor="let subItem of item.subItems">
            <a class="nav-link d-flex align-items-center" 
              [routerLink]="subItem.route" 
              (click)="isMobile ? onToggleSidebar() : null"
              routerLinkActive="active">
              <i class="bi" [ngClass]="subItem.icon" *ngIf="subItem.icon"></i>
              <span>{{ subItem.title }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
  <!-- Sidebar footer -->
  <div class="sidebar-footer">
    <div class="d-flex align-items-center justify-content-between text-muted">
      <span>© 2025 Cuidar+</span>
      <span>v1.0.0</span>
    </div>
  </div>
</nav>