<h2 class="text-center mb-4">Bem-vindo à Gestão de Pacientes</h2>
<div class="container mt-4">
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="text-center mb-4">Usuários Cadastrados</h3>
        <div>
          <button class="btn btn-primary btn-spacing" (click)="abrirModalBusca()">Pesquisar Paciente</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div>
            <input type="text" placeholder="Buscar paciente..." [(ngModel)]="filtroNome" (input)="filtrarPacientes()" />
            <select [(ngModel)]="ordenacao" (ngModelChange)="ordenarPacientes()">
              <option value="nome">Ordem Alfabética</option>
              <option value="atualizacaoRecente">Mais Recentes</option>
              <option value="atualizacaoAntiga">Mais Antigos</option>
            </select>
          </div>
          <table class="table table-striped" *ngIf="pacientesFiltrados.length > 0">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Atualização</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paciente of pacientesFiltrados">
                <td>{{ paciente.nome_completo }}</td>
                <td>{{ paciente.updated_at | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>
                  <button class="btn btn-primary" (click)="acompanharPaciente(paciente.id)">Acompanhamento</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="pacientesFiltrados.length === 0" class="text-center">
            Nenhum paciente encontrado.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>