/* Reset globals */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--bs-body-font-family);
}

body {
  overflow-x: hidden;
  padding-top: 0 !important; /* Garante que não há padding automático do Bootstrap */
}

/* Elementos de conteúdo principal */
.container, .container-fluid {
  width: 100%;
}

/* Espaçamento entre componentes principais */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Melhorar a legibilidade em dispositivos móveis */
@media (max-width: 768px) {
  main {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Estilos globais para melhorar os Mat Autocomplete */
.mat-autocomplete-panel {
  z-index: 1050 !important;
}

.cdk-overlay-container {
  z-index: 1060 !important;
}

.cdk-overlay-connected-position-bounding-box {
  z-index: 1060 !important;
}

// Garantir que o overlay seja exibido acima de tudo
::ng-deep .cdk-overlay-container {
  z-index: 1060 !important;
}

::ng-deep .cdk-overlay-backdrop {
  z-index: 1050 !important;
}

::ng-deep .cdk-global-overlay-wrapper {
  z-index: 1060 !important;
}